<?xml version="1.0" encoding="utf-8"?>
<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crazyj36.loadwebpage"
	android:versionCode="1"
	android:versionName="1.0" >

    <uses-sdk
		android:minSdkVersion="1" android:targetSdkVersion="29" />

    <!--Needs to connect to internet, and below in <application/> usesCleartextTraffic avoids text errors-->
    <uses-permission
        android:name="android.permission.INTERNET" />

    <application
        android:label="@string/appname"
        android:theme="@android:style/Theme.DeviceDefault"
        
        android:usesCleartextTraffic="true" >

		<activity
 			android:name=".MainActivity">

		    <intent-filter>
  				<action android:name="android.intent.action.MAIN"/>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.LAUNCHER"/>
	    	</intent-filter>

		</activity>

    </application>

</manifest>
